<!DOCTYPE html>
<html>
    <head>
        <!--Requiredmetatags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--BootstrapCSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <!--Custom CSS Style-->
        <link rel="stylesheet" href="css/home.css">
        <!--Font-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dokdo&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gothic+A1&family=Gugi&family=Hi+Melody&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Single+Day&family=Song+Myung&family=Stylish&family=Sunflower:wght@300&family=Yeon+Sung&display=swap" rel="stylesheet">
        
        <title>Moipji</title>
    </head>

    <!--HTMLCode-->
    <body>
        <div class="all">
            <div class="logo">
                <img src="img/logo.jpg" width="900px">
            </div>
            <button class="button-17" id="snd" onclick="gotoMain();">
                START
            </button>
        </div>
    </body>

    <script>
        function getWeather() {
            navigator.geolocation.getCurrentPosition(success, error);
            
            function success(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                let url = 'http://localhost:3000/location?lat='+latitude+'&lon='+longitude;
                fetch(url, {
                    method: 'GET',
                })
                .then((response) => {
                    if(response.status === 200) {
                        console.log(response.status);
                        document.getElementById("snd").style.display = "block";
                    }
                });
            }

            function error() {
                location.innerHTML = "Unable to retrieve your location";
            }
        }
        
        function gotoMain() {
            let url = 'http://localhost:3000/main';
            location.href = url;
        }

        getWeather();
    </script>
</html>