/* Split the screen in half */
.wrapper {
    height: 80vh;
    width: 80%;
    display: flex;
    margin: 0 auto;
}

body {
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    font-family: 'Bubblegum Sans', 'Noto Sans KR';
    background-color: lightgray;
}

@font-face {
    font-family: 'Bubblegum Sans';
    src: url(NotoSansKR-Black);
    unicode-range: U+0041-005A;
    unicode-range: U+0061-007A;
}

h2 {
    color: black;
}

/* Control the left side */
.left {
    background-color: white;
    width: 40%;
    height: 500px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

/* Control the right side */
.right {
    background-color: #F7F6F9;
    width: 60%;
    height: 500px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.left-container {
    width: 200px;
    margin: 100px auto;
    height: 300px;
}
/* If you want the content centered horizontally and vertically */
.centered {
    top: 50%;
    left: 50%;
    text-align: center;
}

.card-body {
    height: 300px;
}

.clothe_button{
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 10px;
    line-height: 30px;
}

#closet {
    margin: 20px 0 0 0;
}

.btnMale {
    border-radius: 4px;
    border: medium solid #000000;
    background-color:rgba(0, 0, 0, 0.688);
    font-family: "Arial", Impact, Charcoal, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 16px 32px;
    margin: 70px 70px;
    position: absolute;
    left: -150px;
    top: -300px;
    display: none;
}
.clothe_button:focus {
    background-color: lightgray;
}
h4, h5, p {
    font-size: 20px;
}

.container.text-center{
    margin-top: 70px;
}

.btn.btn-primary.btn-lg{
    margin:auto;
}

.border.border-dark{
    font-size:x-large;
}

