/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

body {
    font-family: 'Bubblegum Sans', 'Noto Sans KR';
}

@font-face {
    font-family: 'Bubblegum Sans';
    src: url(NotoSansKR-Black);
    unicode-range: U+0041-005A;
    unicode-range: U+0061-007A;
}

h2 {
    color: black;
}

/* Control the left side */
.left {
    left: 0;
    background-color: white;
    width: 40%;
}

/* Control the right side */
.right {
    right: 0;
    background-color: lightblue;
    width: 60%;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-body {
    height: 300px;
    width: auto;
}

.recommendation {
    position: absolute;
    top: 80%;
    left: 30%
}

.btnMale {
    border-radius: 4px;
    border: medium solid #000000;
    background-color:rgba(0, 0, 0, 0.688);
    font-family: "Arial", Impact, Charcoal, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 16px 32px;
    margin: 70px 70px;
    position: absolute;
    left: -150px;
    top: -300px;
    display: none;
}

.weather {
    position: absolute;
    top: 20%;
    left: 20%;
}

.aboveCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4, h5, p {
    font-size: 20px;
}