/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

h2 {
    color: black;
}

/* Control the left side */
.left {
    left: 0;
    background-color: white;
}

/* Control the right side */
.right {
    right: 0;
    background-color: lightblue;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btnMale {
    border-radius: 4px;
    border: medium solid #000000;
    background-color:rgba(0, 0, 0, 0.688);
    font-family: "Arial", Impact, Charcoal, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 16px 32px;
    margin: 70px 70px;
    position: absolute;
    left: -250px;
    top: -350px;
}

.weather {
    position: absolute;
    top: 60%;
    left: 20%;
}

.hehe {
    border-radius:30px;
    background-color: aquamarine;
    padding: 20px;
    width: 450px;
    height: 150px;
}

table {
    border: 1px solid black;
    border-collapse: separate;
}

i {
    font-size: 2000%;
}

.aboveCentered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}