/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

h2 {
    color: black;
}

/* Control the left side */
.left {
    left: 0;
    background-color: white;
}

/* Control the right side */
.right {
    right: 0;
    background-color: lightblue;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btnMale {
    border-radius: 4px;
    border: medium solid #000000;
    background-color:rgb(92, 250, 246);
    font-family: "Arial", Impact, Charcoal, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 16px 32px;
    margin: 70px 70px;
    position: absolute;
    left: -250px;
    top: -350px;
}
.btnFemale {
    border-radius: 4px;
    border: medium solid #000000;
    background-color: pink;
    font-family: "Arial", Impact, Charcoal, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 16px 20px;
    margin: 70px 70px;
    position: absolute;
    left: -120px;
    top: -350px;
}

.weather {
    padding: 100px;
}